@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Press Start 2P", Arial;
  background: #252525;
  color: white;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  padding: 1rem 0 8rem 0;
}

main {
  flex-grow: 1;
}

.binary {
  display: flex;
  justify-content: space-evenly;
}

.binary__item {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.binary__item__light-bulb {
  width: 100%;
}

.binary__item__light-bulb:hover {
  cursor: pointer;
}

.binary__item__digit {
  font-size: 5vw;
  margin-bottom: 0;
}

.equal-sign {
  font-size: 8vw;
  text-align: center;
  padding: 2rem;
}

#decimal {
  font-size: 8vw;
  text-align: center;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  height: 70%;
  background-color: #252525;
  opacity: 0.5;
  color: #fff;
  text-align: center;
  padding: 4vw 2vw 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  text-align: center;
  font-size: 1vw;
  pointer-events: none;
}

@media (hover: hover) {
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
}

footer {
  margin-top: 4rem;
  width: 100%;
  font-size: 0.7vw;
  background: #d9d9d9;
  color: #252525;
  padding: 0.7rem;
  text-align: center;
  flex-shrink: 0;
}
